<launch>
  <arg name="x" default="0.4" />
  <arg name="y" default="0.3" />
  <arg name="z" default="0.1" />
  <arg name="roll" default="1.57" />
  <arg name="pitch" default="0" />
  <arg name="yaw" default="0" />

  <!-- Load the URDF into the parameter server -->
  <param name="cylinder_robot_description" command="cat $(find dexco)/urdf/cylinder.urdf" />

  <!-- Spawn the model -->
  <node name="spawn_cylinder" pkg="gazebo_ros" type="spawn_model" args="-param cylinder_robot_description -urdf -model cylinder -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" />
</launch>
